{% extends 'bootstrap/base.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
<div class="container" style="display: flex; align-items: center; height: 100vh">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Place name</th>
      <th scope="col">Visit date</th>
      <th scope="col">Rating</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    {% for place in places %}
    <tr>
      <th scope="row">{{place.id}}</th>
      <td>{{place.place_name}}</td>
      <td>{{place.visit_date}}</td>
      <td>{{place.rating}}</td>
      <td>{{place.google_location}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
